
<h1>Listing Admin Services</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>name</th>
      <th>title</th>
      <th>body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_services.each do |admin_service| %>
      <tr>
        <td><%= admin_service.id %></td>
        <td><%= admin_service.name %></td>
        <td><%= admin_service.title %></td>
        <td><%= admin_service.body %></td>
        <td><%= link_to 'Show', admin_service_path(admin_service) %></td>
        <td><%= link_to 'Edit', edit_admin_service_path(admin_service) %></td>
        <td><%= link_to 'Destroy', admin_service_path(admin_service), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_admin_service_path %>
