<%= render 'carts/reg_sidebar' %>
<h1>Регистрация</h1>
<div class="registration_block">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="form-inputs">
      <%= f.input :name, required: true, autofocus: true, label: 'Ваше Имя' %>
      <%= f.input :email, required: true, label: 'Ваша почта' %>
      <%= f.input :password, required: true,
                  label: 'Пароль' %>
      <%= f.input :password_confirmation, required: true, label: 'Повторите пароль' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Зарегестрироваться" %>
    </div>
  <% end %>

</div>

<div class="fix"></div>
