<p id="notice"><%= notice %></p>

<p><strong>id: <%= @order.id %></strong></p>
<p>
  <strong>Line item:<%= @order.line_items.count %> шт.</strong><br/>
  <% @order.line_items.each do |line_item| %>
    <%= line_item.product.title %> --<%= line_item.quantity %> шт.<br/>
  <%  end %>
</p>

<p>
  <strong>total price:</strong>
  <%= @order.total_price %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.email%>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Delivery type:</strong>
  <%= @order.delivery_type %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
