<p id="notice"><%= notice %></p>

<h1>Listing Admin Additional Descriptions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_additional_descriptions.each do |admin_additional_description| %>
      <tr>
        <td><%= link_to 'Show', admin_additional_description %></td>
        <td><%= link_to 'Edit', edit_admin_additional_description_path(admin_additional_description) %></td>
        <td><%= link_to 'Destroy', admin_additional_description, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Additional description', new_admin_additional_description_path %>
