<p id="notice"><%= notice %></p>

<h1>Listing Services Groups</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services_groups.each do |services_group| %>
      <tr>
        <td><%= services_group.title %></td>
        <td><%= link_to 'Show', services_group %></td>
        <td><%= link_to 'Edit', edit_services_group_path(services_group) %></td>
        <td><%= link_to 'Destroy', services_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Services group', new_services_group_path %>
