<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @size_helper.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown(@size_helper.body) %>
</p>

<%= link_to 'Edit', edit_size_helper_path(@size_helper) %> |
<%= link_to 'Back', size_helpers_path %>
