<h1>Listing Admin Products</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>article</th>
      <th>title</th>
      <th>description</th>
      <th>add.descript</th>
      <th>size helper</th>
      <th>colors</th>
      <th>price</th>
      <th colspan="3">action</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_products.each do |admin_product| %>
      <tr>
        <td><%= admin_product.id %></td>
        <td><%= admin_product.article %></td>
        <td><%= admin_product.title %></td>
        <td><%= admin_product.description %></td>
        <td>
          <% admin_product.additional_descriptions.each do |descript| %>
            <div class="list-group">
             <div class="list-group-item">
               <strong><%= descript.name %></strong> <%= descript.description %>
               <%= link_to 'edit',
                           edit_admin_additional_description_path(descript) %>
               <%= link_to 'Destroy', admin_additional_description_path(descript),
                           method: :delete, data: { confirm: 'Are you sure?' } %>
             </div>
            </div>
          <% end %>
          <%= link_to 'new', new_admin_product_additional_description_path(admin_product) %>
        </td>
        <td><%= admin_product.size_helper.title %></td>
        <td>
          <% admin_product.products_colors.each do |color| %>
              <%= link_to  color.color.code, edit_admin_products_color_path(color) %>
          <% end %>
        </td>
        <td><%= admin_product.price %></td>
        <td><%= link_to 'Show', admin_product %></td>
        <td><%= link_to 'Edit', edit_admin_product_path(admin_product) %></td>
        <td><%= link_to 'Destroy', admin_product_path(admin_product),
                        method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_admin_product_path %>
