<% content_for(:head) do %>
  <%= javascript_include_tag 'categories', 'data-turbolinks-track' => true %>
<% end %>
<p id="notice"><%= notice %></p>
<div class="catalog-sidebar">
  <ul class="sidemenu">
    <%=  render @category.get_category  %>
  </ul>
</div>
<div class="categories-wrapper">
  <div class="bread-crumbs">
    <%= link_to 'Главная', root_path  %>
    <% @category.ancestors.each do |ancestor| %>
       » <%= link_to ancestor.name, ancestor %>
    <% end %>
       » <%= @category.name  %>
  </div>

  <h1><%= @category.page_title %></h1>

  <%= render 'products/pagination', cat_products: @cat_products %>

  <div class="catalog">
    <%= render @cat_products %>
  </div>

  <%= render 'products/pagination', cat_products: @cat_products %>
  <p>
    <%= @category.description %>
  </p>
  <br/>
    <%= link_to 'New Category', new_category_path %>
  <br/>

  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>
  </div>

<div class="fix"></div>