<% content_for(:head) do %>
  <%= javascript_include_tag 'categories', 'data-turbolinks-track' => true %>
<% end %>
<div class="catalog-sidebar">
  <ul class="sidemenu">
    <%=  render @category.get_category  %>
  </ul>
</div>
<div class="categories-wrapper">
  <div class="bread-crumbs">
    <%= link_to 'Главная', root_path  %>
    <% @category.ancestors.each do |ancestor| %>
       » <%= link_to ancestor.name, ancestor %>
    <% end %>
       » <%= @category.name  %>
  </div>

  <h1><%= @category.page_title %></h1>

  <%= render 'products/pagination', cat_products: @cat_products, category: @category %>

  <div class="catalog">
    <%= render @cat_products %>
  </div>

  <%= render 'products/pagination', cat_products: @cat_products, category: @category %>
  <p>
    <%= @category.description %>
  </p>
  </div>

<div class="fix"></div>