<p id="notice"><%= notice %></p>


<h1>Listing Products</h1>

<%= link_to 'New Product', new_product_path %>

<br/>

<%= paginate @products %>
  <% @products.each do |product| %>

    <div class="item-product">
      <p>
        <%= product.title %> - <strong><%= product.price %></strong>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
      <% if product.products_colors.present? %>
        <ul>Colors
          <li>
            <% product.products_colors.each do |p_color| %>
              <%= link_to p_color.color.name,
                          [:edit, p_color]  %> <br/>
              <% if p_color.products_colors_sizes.present? %>
                <ul>Sizes
                  <% p_color.products_colors_sizes.each do |p_size| %>
                  <li>
                    <%= p_size.size.name %>
                    - На складе: <%= p_size.warehouse %> шт.
                    <%= link_to 'Edit', [:edit, p_size] %>
                  </li>
                  <% end %>
                </ul>
              <% end %>
              <ul>Images <%= link_to 'Add image', new_products_color_image_path(p_color) %>
                <% p_color.images.each do |img| %>
                  <li>
                    <%= img.name %>
                  </li>
                <% end %>
              </ul>
           <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  <% end %>
