
<div class="catalog-sidebar">
  <ul class="sidemenu">
    <%=  render @roots  %>
  </ul>
</div>
<div class="categories-wrapper">
  <% if @products.total == 0 %>
    <h1><%= params[:search] %></h1>
    <p>По Вашему запросу ничего не найдено.</p>
  <% else %>
    <h1><%= params[:search] %></h1>

    <%= render 'products/search_pagination', cat_products: @products %>

    <div class="catalog">
      <%= render @products.results %>
    </div>

    <%= render 'products/search_pagination', cat_products: @products %>
  <% end %>

</div>
<div class="fix"></div>

