<p id="notice"><%= notice %></p>

  <div class="back">
    < <%= link_to 'Назад к списку товаров', categories_path %>
  </div>
    <div class="container">
      <div class="photo">
        <% if @current_color %>
          <% if @current_color.images.present? %>
            <%= image_tag @current_color.images.first.photo.url(:large) %>
          <% else %>
            <%= image_tag 'default_product_average.png' %>
          <% end %>
        <% else %>
          <%= image_tag 'default_product_average.png' %>
        <% end %>
      </div>
      <div class="info">
        <div class="info-box">
          <h1 class="name"><%= @product.title %></h1>
          <div class="price"><%= rus_number_to_currency(@product.price) %></div>
        </div>
        <div class="info-box">
          <p class="inf article">Артикул: <span><%= @product.article %></span></p>
          <p class="inf color">Цвет: <span><%= @current_color.color.name if @current_color %></span></p>
          <p class="inf composition">Состав: <span>Хлопок 100%</span></p>
          <p class="description"><%= @product.description %></p>
        </div>

        <div class="info-box">
          <p class="inf color"> Выберете цвет: </p>
          <div class="select-color">
            <ul>
              <%= render :partial => 'products_colors/products_color',
                         :collection => @product.products_colors,
                         :locals => {:current_color => @current_color } %>
            </ul>
          </div>
          <div class="order">
              <%= render partial: 'products/add_to_cart',
                         locals: {
                                 product_id: @product.id,
                                 size: nil,
                                 color: @current_color.color.name
                         }%>

          </div>
          <div class="fix"></div>
          <p class="inf size"> Выберете размер:</p>
          <div class="select-size">
              <ul>
                <% if @current_color %>
                  <%= render @current_color.products_colors_sizes %>
                <% end %>
              </ul>
          </div>
          <div class="fix"></div>
          <div class="table-of-sizes">
            <% if @product.size_helper.present? %>
            <%= link_to 'Определите свой размер', size_helper_path(@product.size_helper), remote: true %>
            <% end %>
          </div>


          <div class="carousel">
            <% if @current_color %>
              <%= render :partial => 'images/small_images',
                         :locals => {:current_color => @current_color,
                                     :current_image => @current_color.images.first} %>
            <% end %>
          </div>
        </div>
        <div class="info-box">
          <table class="additional">
            <caption class="title">Дополнительное описание</caption>
            <tbody>
            <% @product.additional_descriptions.each do |addit_desc| %>
              <tr>
                <td><%= addit_desc.name %></td>
                <td><%= addit_desc.description %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
<div class="fix"></div>