<p id="notice"><%= notice %></p>

  <div class="back">
    < <%= link_to 'Назад к списку товаров', categories_path %>
  </div>
    <div class="container">
      <div class="photo">
        <% if @current_color %>
          <% if @current_color.images.present? %>
            <%= image_tag @current_color.images.first.photo.url(:large) %>
          <% else %>
            <%= image_tag 'default_product_average.png' %>
          <% end %>
        <% else %>
          <%= image_tag 'default_product_average.png' %>
        <% end %>
      </div>
      <div class="info">
        <div class="info-box">
          <h1 class="name"><%= @product.title %></h1>
          <div class="price">300 руб.</div>
        </div>
        <div class="info-box">
          <p class="inf article">Артикул: <span>1537456</span></p>
          <p class="inf color">Цвет: <span><%= @current_color.color.name if @current_color %></span></p>
          <p class="inf composition">Состав: <span>Хлопок 100%</span></p>
          <p class="description"><%= @product.description %></p>
        </div>

        <div class="info-box">
          <p class="inf color"> Выберете цвет: </p>
          <div class="select-color">
            <ul>
              <% @product.products_colors.each do |color| %>
                <%= link_to  product_path(@product, :color_id => color.color_id) do %>
                  <li style="background-color: <%= color.color.code %>;"
                    <% if color == @current_color %>
                           class="current_color"
                    <% end %>>
                  </li>
                <% end %>
              <% end  %>
            </ul>
          </div>
          <div class="order">
            <a href="#" class="myButton">Добавить в корзину</a>

          </div>
          <div class="fix"></div>
          <p class="inf size"> Выберете размер:</p>
          <div class="select-size">
              <ul>
                <% if @current_color %>
                  <% @current_color.products_colors_sizes.each do |c_size| %>
                    <li><%= c_size.size.name %></li>
                  <% end %>
                <% end %>
              </ul>
          </div>
          <div class="fix"></div>
          <div class="table-of-sizes">
            <a href="">Определите свой размер</a>
          </div>


          <div class="carousel">
            <!--TODO  Сделать карусель-->
            <% if @current_color %>
            <ul>
              <% @current_color.images.each do |img| %>
                <li><%= image_tag img.photo.url(:small) %></li>
              <% end %>
            </ul>
              <% end %>
          </div>
        </div>
        <div class="info-box">
          <table class="additional">
            <caption class="title">Дополнительное описание</caption>
            <tbody>
            <% @product.additional_descriptions.each do |addit_desc| %>
              <tr>
                <td><%= addit_desc.name %></td>
                <td><%= addit_desc.description %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
<div class="fix"></div>