<p id="notice"><%= notice %></p>

<p>
  <strong>Products:</strong>
  <%= @line_item.products %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @line_item.cart %>
</p>

<p>
  <strong>Size:</strong>
  <%= @line_item.size %>
</p>

<p>
  <strong>Color:</strong>
  <%= @line_item.color %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
