<!DOCTYPE html>
<html>
<head>
  <title>HarmonyShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

<div id="page">

  <div id="header">
    <div id="logo">
      <%= link_to root_path do %>
        <%= image_tag("logo.png", alt: "harmony") %>
      <% end %>
    </div>

    <div id="search-block">
      <%= form_tag search_path, method: :get do %>
        <%= search_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>

    <div id="nav-bar">
      <nav>
        <ul>
          <%= render "categories/top_menu" %>
        </ul>
      </nav>
    </div>

    <div id="basket-block">
      <ul>
        <li><a href="">Войти</a></li> |
        <li><a href="">Зарегестрироваться</a></li>
      </ul>
      <div id="cart">
        <%= link_to cart_custom_show_path do %>
          <i class="icon bag"> </i>
          <strong>Моя корзина</strong>
        <% end %>
      </div>
      <div id="goods">
        <span class="counter">
          <%= @cart.total_quantity %> шт.
        </span>
        |
        <span class="total">
          <%= rus_number_to_currency(@cart.total_price) %>
        </span>

      </div>
    </div>
    <br/>

    <div id="banner">
        <%= image_tag 'banner.png' %>
    </div>
  </div>


  <div id="content" class="<%= controller.controller_name  %>">
    <%= yield %>
  </div>
</div>

<div class="footer-wrapper">
  <div class="footer">
    <ul class="footer-nav">
      <li class="footer-help">
        <h5>Сервис и помощь</h5>
        <ul class="services">
          <li>Как сделать заказ</li>
          <li>Возврат</li>
          <li>Публичная оферта</li>
          <li>Доставка</li>
          <li>Способы оплаты</li>
          <li>Правила продажи</li>
          <li>Ткани и уход за ними</li>
          <li>Вопросы и ответы </li>
        </ul>
      </li>
      <li class="footer-about">
        <h5>О компании</h5>
        <ul class="about">
          <li>О нас</li>
          <li>Контакты</li>
          <li>Преимущества</li>
          <li>Вакансии</li>
          <li>Сертификаты</li>
          <li>Партнерам</li>
          <li>Наши скидки</li>
        </ul>
      </li>
    </ul>
    <div class="fix"></div>
    <ul class="social">
      <li class="head">Следуй за нами</li>
      <li>V</li>
      <li>t</li>
      <li>f</li>
      <li>y</li>
    </ul>
    <div class="fix"></div>
  </div>
</div>
<div class="go-top"></div>

</body>
</html>
