<!DOCTYPE html>
<html>
<head>
  <title>HarmonyShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="page">

  <div id="header">
    <div id="logo">
      <%= link_to root_path do %>
        <%= image_tag("logo.png", alt: "harmony") %>
      <% end %>
    </div>

    <div id="search-block">
      <%= form_tag(method: "get") do %>
        <%= search_field_tag :search, '', placeholder: "Найти товары"  %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>

    <div id="nav-bar">
      <nav>
        <ul>
          <%= render "categories/top_menu" %>
        </ul>
      </nav>
    </div>

    <div id="basket-block">
      <ul>
        <li><a href="">Войти</a></li> |
        <li><a href="">Зарегестрироваться</a></li>
      </ul>
      <div id="cart">
        <a href="">
          <i class="icon bag"> </i>
          <strong>Моя корзина</strong>
        </a>
      </div>
      <div id="goods">
        <span class="counter">
          1 товар
        </span>
        |
        <span class="total">
          355 руб.
        </span>

      </div>
    </div>
    <br/>

    <div id="banner">
        banner
    </div>
  </div>


  <div id="content" class="<%= controller.controller_name  %>">
    <%= yield %>
  </div>

</div>


</body>
</html>
